<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="login-content" padding>

	<div>

		<ion-row style="margin-top: 64px;margin-bottom: 64px;">
			<ion-col text-center>
				<img src="assets/Images/vermogen_logo@3x.png" width="300">
			</ion-col>
		</ion-row>
		<ion-row *ngIf="viewData == '0'">
			<ion-col>
				<h1 class="text-properties">
					Welcome!
				</h1>


				 <ion-list inset class="custom-value">
					<ion-item style="width:100%;">
						<ion-label class="label-properties" fixed>
							<img src="assets/Images/home/icon_car.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;"/>

						</ion-label>
						<ion-input  style="float:left;" type="text" placeholder="Car Plate No." [(ngModel)]="registerCredentials.vehicleNumber"></ion-input>
					</ion-item>
					<!--<ion-item style="width:100%;">
						<ion-label class="label-properties" fixed>
							<img src="assets/Images/home/icon_phone.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;"/>
						</ion-label>
						
						<int-phone-prefix [(ngModel)]="phoneNumber"></int-phone-prefix>
						<ion-input  style="float:left;" type="text" placeholder="Mobile No." [(ngModel)]="registerCredentials.mobileNumber"></ion-input>
					</ion-item> -->
				</ion-list>

				<div class="row" style="width:100%;padding: 0px;!important;border: 1px solid rgba(255, 255, 255, 0.50)!important;height: 48px!important;" >
					<ion-label class="label-properties" fixed>
						<img src="assets/Images/home/icon_phone.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;"/>
					</ion-label>
					<div class="col" style="padding:0px!important;">
						<int-phone-prefix style="height: 48px;background: transparent;border: 0px;width: 80%;font-size: 15px;color: rgba(255, 255, 255, 0.50);" [(ngModel)]="registerCredentials.mobileNumber"  placeholder="Mobile No." ></int-phone-prefix>
					</div>
				</div>

				<button class="button-properties" ion-button block (click)="login()">Sign In</button> 
				<!-- page2 -->
				 
			</ion-col>
		</ion-row>

		<ion-row *ngIf="viewData == '1'">
			<ion-col>
				<h1 class="text-properties">
					Welcome!
				</h1>
				<h3 class="subtitle-properties">Make an appointment with us:</h3>
				<button class="button-properties" ion-button block (click)="BookAppointment()">Book New Appointment</button>
			</ion-col>
		</ion-row>

		<!-- page3 -->
		<div *ngIf="viewData == '2'">
			<h3 class="subtitle-properties">Your upcoming appointment:</h3>
			<div class="login-box">
				<ion-item style="width:100%;background-color: rgba(255, 255, 255, 0.10)!important;border:0px!important;">
					<div style="width:79%;float:left;margin-left:16px;">
						<h1 class="text-header">
							{{displayYearData}} <span class="span-properties">({{displayWeekData}})</span>
						</h1>
						<h3 class="text-header3">
							{{displayTimeData}}
						</h3>

					</div>
					<!-- <div style="float:right">
						<img src="assets/Images/IconButton/@2x/button_edit@2x.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;margin-right: 16px; width:27px;margin-top: 12px;" (click)="presentConfirm()"/>
					</div> -->
				
				</ion-item>

				<ion-list>
				    <ion-item-group>

				      <ion-item class="item-group-properties">
				        <ion-label class="label-item-properties"><img src="assets/Images/home/icon_car.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;margin-right: 8px;"/>
				        	<div class="headline-properties">{{displayVehicleNumber}}</div>
				    	</ion-label>
				      </ion-item>

				       <ion-item class="item-group-properties">
				        <ion-label class="label-item-properties"><img src="assets/Images/home/icon_phone.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;margin-right: 8px;"/>
				        	<div class="headline-properties">{{displayMobileNumber}}</div>
				    	</ion-label>
				      </ion-item>

				       <ion-item class="item-group-properties">
				        <ion-label class="label-item-properties"><img src="assets/Images/home/icon_location.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;margin-right: 8px;"/>
				        	<div class="headline-properties">{{displayServiceCentreAddress}}</div>
				    	</ion-label>
				      </ion-item>

				       <ion-item class="item-group-properties">
				        <ion-label class="label-item-properties">
				        	<div style="float:left;padding:0px 16px" class="caption1-properties">Remarks</div>
				        	<div class="list-text-properties">{{displayRemarks}}</div>
				    	</ion-label>
				      </ion-item>



				    </ion-item-group>
				    <button class="button-properties" style="margin-top: -16px !important;border-radius: 0px !important;"ion-button block (click)="presentConfirm()">Cancel Appointment</button>

				</ion-list>

				  
			</div>
		</div>
		 
	</div>

</ion-content>
