<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Booking</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content class="booking-list" padding>
<div>
<ion-row style="    margin-top: 16px!important;">
	<ion-col>
	<!-- <div>
		<h3 class="subtitle-properties">You Don't have any upcoming appointments</h3>
		<button class="button-properties" ion-button block (click)="BookAppointment()">Book New Appointment</button>
	</div> -->
	<div *ngIf="viewData == '2'" (click)="UpcomingAppoitmentDetails()">
		<h3 class="subtitle-properties">Upcoming Appointments</h3>
		<div class="login-box">
			
			<ion-item style="width:100%;background-color: rgba(255, 255, 255, 0.10)!important;border:0px!important;">
				<div style="width:79%;float:left;margin-left:16px;">
					<h1 class="text-header">
						{{displayYearData}} <span class="span-properties" style="font-size: 22px;padding-left: 8px;color:rgba(255, 255, 255, 0.70);">({{displayWeekData}})</span>
					</h1>
					<h3 class="text-header3">
						{{displayTimeData}}
					</h3>

				</div>
				<!-- <div style="float:right">
					<img src="assets/Images/IconButton/@2x/button_edit@2x.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;margin-right: 16px; width:27px;margin-top: 12px;" (click)="presentConfirm()"/>
				</div> -->
			
			</ion-item>

			<ion-list>
			    <ion-item-group>

			      <ion-item class="item-group-properties">
			        <ion-label class="label-item-properties"><img src="assets/Images/home/icon_car.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;margin-right: 8px;"/>
			        	<div class="headline-properties">{{displayVehicleNumber}}</div>
			    	</ion-label>
			      </ion-item>

			       <ion-item class="item-group-properties">
			        <ion-label class="label-item-properties"><img src="assets/Images/home/icon_phone.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;margin-right: 8px;"/>
			        	<div class="headline-properties">{{displayMobileNumber}}</div>
			    	</ion-label>
			      </ion-item>

			       <ion-item class="item-group-properties">
			        <ion-label class="label-item-properties"><img src="assets/Images/home/icon_location.png" style="float:left;font-family: 'Lato', sans-serif;font-weight: 400;margin-right: 8px;"/>
			        	<div class="headline-properties">{{displayServiceCentreAddress}}</div>
			    	</ion-label>
			      </ion-item>

			       <ion-item class="item-group-properties">
			        <ion-label class="label-item-properties">
			        	<div style="float:left;padding:0px 16px" class="caption1-properties">Remarks</div>
			        	<div class="list-text-properties">{{displayRemarks}}</div>
			    	</ion-label>
			      </ion-item>

			    </ion-item-group>
			    <button class="button-properties" style="margin-top: -16px !important;border-radius: 0px !important;"ion-button block (click)="presentConfirm($event)">Cancel Appointment</button>
			</ion-list>

		</div>

	</div>
	<ion-row *ngIf="viewData!= '2'">
		<ion-col>
			<h3 class="subtitle-properties">You don't have any upcoming appointments.</h3>
			<button class="button-properties" ion-button block (click)="BookAppointment()">Book New Appointment</button>
		</ion-col>
	</ion-row>

	<div *ngIf="viewData!= '0'">
		<button class="button-properties" ion-button block (click)="goToBookingHistory()">Booking History</button>
	</div>
		
		
	</ion-col>
</ion-row>

</div>


</ion-content>
