page-appointment-summary {

	.scroll-content {
	     margin-top: 50px!important;
	 }

	.toolbar-background-ios {
	    background: rgba(255, 255, 255, 0.10);
	}
	.toolbar-background-md {
	    background: rgba(255, 255, 255, 0.10);
	}
	.toolbar-title-ios {
	    text-align: center;
	    font-size: 15px!important;
		 font-family: 'Lato', sans-serif!important;
		 font-weight: 400!important;
	    color: #fff;
	    pointer-events: auto;
	}

	.toolbar-title-md {
	    text-align: center;
	    font-size: 15px!important;
		 font-family: 'Lato', sans-serif!important;
		 font-weight: 400!important;
	    color: #fff;
	    pointer-events: auto;
	}

	.scroll-content {
		margin-top:70px!important;
	}

	.toolbar-ios{
		box-shadow: 0px 4px 8px 2px rgba(0,0,0,1)!important;
		min-height: 100px !important;
	}

	.toolbar-md {
		box-shadow: 0px 4px 8px 2px rgba(0,0,0,1)!important;
		min-height: 100px !important;
	}

	.toolbar-ios ion-title {
	    left: 0;
	    top: 0;
	    padding: 0px;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    pointer-events: none;
	    min-height: 100px !important;
	}

	.toolbar-md ion-title {
	    left: 0;
	    top: 0;
	    padding: 0px;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    pointer-events: none;
	    min-height: 100px !important;
	}


	.appointment-summary {
		background: #1E1E1E;

		

		.login-box {
			margin-top: 24px;
			margin-left : -8px!important;
			margin-right : -8px!important;
			box-shadow: 0px 4px 8px 2px rgba(0,0,0,1)!important;
		}

		.custom-value {
			border-radius : 0px!important;
			margin:0px;
		}

		h1 {
		    font-family: 'Lato', sans-serif;
		    font-weight: 400;
		}

		h3 {
		    font-family: 'Lato', sans-serif;
		    font-weight: 400;
		}


		.item-group-properties {
			/*margin-top: -16px!important;*/
			border : 0px!important;
			/*border-bottom: 1px solid rgba(255, 255, 255, 0.10) !important;*/
			/*background:rgba(255, 255, 255, 0.05);*/
		}

		.list-text-properties {
			margin-top: 12px;
			font-family: 'Lato', sans-regular!important;
			font-size: 15px;
			font-weight: 400!important;
			letter-spacing: 1px;
			color:rgba(255, 255, 255, 1)!important;
			line-height: 22px;
		}
		.label-item-properties {
			margin: 0px;
			min-width: 48px!important;
			height: 48px!important;
		}

		.text-header {
			color:#fff;
			font-size: 28px;
			letter-spacing: 1px;
			text-align: center;
			font-size: 28px;
			line-height: 28px;
			font-family: 'Lato', sans-serif!important;
			font-weight: 700!important;
			letter-spacing: 1px;
		}
		 .span-properties {
		 	color:rgba(255, 255, 255, 0.7);
		 	font-size: 22px;
			line-height: 28px;
			font-family: 'Lato', sans-serif!important;
			font-weight: 400!important;
			letter-spacing: 1px;
		 }


		.text-header3{
			color:#B4CD34;
			font-size: 22px;
			letter-spacing: 1px;
			text-align: center;
			line-height: 28px;
			font-family: 'Lato', sans-serif!important;
			font-weight: 700!important;
			letter-spacing: 1px;
		}

		.headline-properties {
			margin-top: 12px;
			font-size: 17px;
			font-family: 'Lato', sans-serif!important;
			font-weight: 700!important;
			letter-spacing: 1px;
			color:#FFFFFF;
			line-height: 22px;
		}

		ion-item {

			padding-left: 0px!important;
			font-size: 17px!important;
			margin-bottom: 16px!important;;
			border: 1px solid rgba(255, 255, 255, 0.50)!important;
			box-shadow: none !important;
			color: rgba(255, 255, 255, 0.50);
			background-color: #1E1E1E;
			font-family: 'Lato', sans-serif!important;
			font-weight: 400!important;
		 }

		 .text-item {
		 	color:#fff;
			font-size: 22px;
			letter-spacing: 1px;
			font-family: 'Lato', sans-serif;
    		font-weight: 700;
		 }

		.item-md.item-block .item-inner {
			padding-right: 0px!important;
			border-bottom : 0px!important;
		}

		.item-ios.item-block .item-inner {
			
			padding-right: 0px!important;
			border-bottom: 0px!important;
		}

		.ion-list-space {
		    margin: 0 -16px!important;
		}

		.ion-list-border {
			border-bottom: 1px solid rgba(255, 255, 255, 0.30)!important;
		}

		.item-properties {

			padding: 8px!important;
			font-size: 22px!important;
			font-family: 'Lato', sans-serif!important;
			font-weight: 700!important;
			border: 0px!important;
			border-top:0px!important;
			color: #ffffff;
			background-color: rgba(255, 255, 255, 0.10)!important;
		 }
		 .item-space {
		     margin: 32px -8px !important;
		 }
		 ion-item {
		 	border-bottom:0px!important;
		 }

		 .list-ios .item-block .item-inner {
		     border-bottom: 0px;
		 }

		 .list-md .item-block .item-inner {
		     border-bottom: 0px;
		 }
		  .list-text-properties {
		  	font-size: 15px!important;
		 	font-family: 'Lato', sans-serif!important;
		 	font-weight: 400!important;
		 	overflow: inherit;
		 	white-space: initial;
		 	letter-spacing: 1px;
		 	color:rgba(255, 255, 255, 1)!important;
		 	line-height: 22px;
		  }

		.custom-value {
			border-radius : 0px!important;
			margin:0px;
		}

		.button-properties {
			margin-top: 24px!important;
			border-radius: 3px!important;
			height: 48px!important;
			font-size: 15px;
			line-height: 20px;
			background-color: rgba(255, 255, 255, 0.10)!important;
			box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.75)!important;
			font-family: 'Lato', sans-serif!important;
			font-weight: 700!important;
			letter-spacing: 1px;
		 }

		 .label-properties {
		 	margin: 0px;
		 	height: 48px!important;
		 	flex: 0 0 0px!important;
		 	min-width: 100%;
		 	padding: 0 16px 0 16px;
		 }

		 .ion-item-label {

			padding-left: 0px!important;
			font-size: 17px!important;
			margin-bottom: 16px!important;;
			border: 1px solid rgba(255, 255, 255, 0.50)!important;
			box-shadow: none !important;
			color: rgba(255, 255, 255, 0.50);
    		background-color: #1E1E1E;
    		font-family: 'Lato', sans-serif!important;
			font-weight: 400!important;
		 }

		 

		 .alert-ios .alert-button {
		 	color : #fff!important;
		 	background-color: #000!important;
		 }
		 .alert-md .alert-button {
		 	color : #fff!important;
		 	background-color: #000!important;
		 }
		 .alert-ios .alert-wrapper {
		 	border-radius: 0px!important;
		 }
		 .alert-md .alert-wrapper {
		 	border-radius: 0px!important;
		 }


	}
	
}
