page-newappointment {

	.login-box {
			margin-top: 24px;
			margin-left : -8px!important;
			margin-right : -8px!important;
			box-shadow: 0px 4px 8px 2px rgba(0,0,0,1)!important;
		}

	.new-appointment {
		background: #1E1E1E;
	}

	.navbar-properties {
		background: #1E1E1E;
	}

	.item-properties {

		padding: 8px!important;
		font-size: 22px!important;
		margin-bottom: 16px!important;
		font-family: 'Lato', sans-serif!important;
		font-weight: 700!important;
		border: 0px!important;
		border-top:0px!important;
		color: #ffffff;
		background-color: rgba(255, 255, 255, 0.10)!important;
	 }
	 ion-item {
	 	border-bottom:0px!important;
	 }

	 .list-ios .item-block .item-inner {
	     border-bottom: 0px;
	 }

	 .list-md .item-block .item-inner {
	     border-bottom: 0px;
	 }

	 .toolbar-background-ios {
	     background-color: rgba(255, 255, 255, 0.10)!important;
	 }

	 .toolbar-background-md {
	     background-color: rgba(255, 255, 255, 0.10)!important;
	 }

	 .title-properties {
	 	font-size: 22px!important;
		 font-family: 'Lato', sans-serif!important;
		 font-weight: 700!important;
	 }
	 .list-text-properties {
	 	font-size: 15px!important;
	 	padding-top: 8px;
		font-family: 'Lato', sans-serif!important;
		font-weight: 400!important;
		overflow: inherit;
		white-space: initial;
		letter-spacing: 1px;
		color:rgba(255, 255, 255, 1)!important;
		line-height: 22px;
	 }

	 .toolbar-title-ios {
	    text-align: center;
	    font-size: 15px!important;
		 font-family: 'Lato', sans-serif!important;
		 font-weight: 700!important;
	    color: #fff;
	    pointer-events: auto;
	}
	.toolbar-title-md {
	    text-align: center;
	    font-size: 15px!important;
		 font-family: 'Lato', sans-serif!important;
		 font-weight: 700!important;
	    color: #fff;
	    pointer-events: auto;
	}

	.toolbar-ios ion-title {
	    left: 0;
	    top: 0;
	    padding: 0px;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    pointer-events: none;
	    min-height: 100px !important;
	}

	.toolbar-md ion-title {
	    left: 0;
	    top: 0;
	    padding: 0px;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    min-height: 100px !important;
	    pointer-events: none;
	}

	.scroll-content {
	    margin-top: 100px !important;
        background: none;
        border: 0px !important;
	}

	ion-navbar.toolbar {
		box-shadow: 0px 4px 8px 2px rgba(0,0,0,1)!important;
		min-height: 100px !important;
	}

	

	.list-title-properties {
		font-size: 22px!important;
	    font-family: 'Lato', sans-serif;
	    font-weight: 700;
	    letter-spacing: 1px;
		color:rgba(255, 255, 255, 1)!important;
		line-height: 22px;
		margin-bottom:16px!important;
		margin-top:32px!important;
		
  	}

}
